<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>829240659874-loh3li0kdhmqk9qc0vaejto9olfrovlj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.829240659874-loh3li0kdhmqk9qc0vaejto9olfrovlj</string>
	<key>API_KEY</key>
	<string>AIzaSyC_GXTlaoteaPgP2doLX69p_1Q2_67aN2U</string>
	<key>GCM_SENDER_ID</key>
	<string>829240659874</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.farhan.final.TaliKhata</string>
	<key>PROJECT_ID</key>
	<string>talikhata-61e2c</string>
	<key>STORAGE_BUCKET</key>
	<string>talikhata-61e2c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:829240659874:ios:580961854ad5f1725e6cfb</string>
</dict>
</plist>